*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    background-color: wheat;
}

.main{
    height: 25rem;
    width: 25rem;
    /* background-color: red; */
}

table {
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}


td {
  border: 5px solid black;
  width: 33.33%;
  height: 33.33%;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

tr:first-child td {
  border-top: none;
}
tr:last-child td {
  border-bottom: none;
}
tr td:first-child {
  border-left: none;
}
tr td:last-child {
  border-right: none;
}


button{
  font-size: xx-large;
  height: 3rem;
  width: 3rem;
  border-radius: 20px; 
  background: linear-gradient(#1DA1F2, #4AA3DF);
}