*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    background: wheat;
}

.top{
    height: 4rem;
    line-height: 4rem;
    background-color: black;
    color: wheat;
}

.choices{
    margin-top : 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.choice{
    width: 270px;
    height: 270px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    /* object-fit: contain; */
}

.choice:hover{
    background-color: black;
}

.score-board{
    display: flex;
    justify-content: center;
    gap: 17rem;
    margin-top: 4rem;
}

.score-board p{
    font-size: xx-large;
    font-weight: 500;
    margin-bottom: 1rem;
}

.result{
    font-size: xx-large;
    background-color: rgb(49, 0, 91);
    margin: 3rem auto;
    height: 3rem;
    width: 25rem;
    line-height: 3rem;
    color: wheat;
    border-radius: 50px;
}